* {
    margin: 0;
    padding: 0;
}

:root {
    --colorWhite: #ffffff;
    --colorWhiteLight: #cccccccc;
    --colorBlack: #000;
    --colorBorder: #68616136;
    --colorPrimary: #E7D006;
    --colorBlueLight: #06a0e7;
}
nav{
    background-color: var(--colorWhite);
    display: flex;
    margin: auto;
    width: 80%;
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--colorBorder);
    box-shadow: 0 0 10px 0 var(--colorBorder);
}
ul{
    display: flex;
    list-style: none;
    margin: auto;
}
li a{
    text-decoration: none;
    color: var(--colorBlack);
    font-size: 1.5rem;
    padding: 1rem;
}
.image{
    background-image: url('../image/fondo3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image-title{
    font-size: 5rem;
}
.image-button{
    border: none;
    padding: 1% 3%;
    background-color: var(--colorPrimary);
    color: var(--colorWhite);
}
.cards{
    display: flex;
    justify-content: center;
}
.cards-containers{
    padding: 2rem;
    margin: 1rem;
    text-align: center;
    border: 1px solid var(--colorBorder);
    border-radius: 10px;
}
.cards-containers i{
    font-size: 5rem;
}
.cards-containers p{
    font-size: 2rem;
}
.title-boards{
    width: 100%;
    text-align: center;
    margin-top: 3rem;
}
.consejos{
    display: inline-block;
    border-bottom: 2px solid var(--colorPrimary);
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 1rem;
    margin: 0 10vw;
}
.board article{
    padding: 1rem;
}
.board article img{
    width: 100%;
    border-radius: 10px;
}
.title-contac{
    width: 100%;
    text-align: center;
    margin-top: 10vh;
}
.datos{
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.datos article{
    width: 40%;
    margin: 15px;
    padding: 1rem;
}
.datos article:nth-last-child(2){
    border: 1px solid var(--colorBorder);
    height: 40vh;
}
.datos article h3{
    width: 100%;
    text-align: center;
    font-size: 2rem;
}
.datos article p{
    width: 100%;
    font-size: 1.2rem;
    padding: 10px;
}
/* carrito */
.carShop{
    background-color: var(--colorPrimary);
    color: var(--colorWhite);
    padding: 1rem;
    border-radius: 100%;
}
/* productos seleccionados*/
.ProductosShop{
    background-color: var(--colorWhiteLight);
    width: 23vw;
    height: 25vh;
    display: none;
    position: absolute;
    top: 14vh;
    right: 7vw;
    border-radius: 10px;
}